:root {
  --purp: #524763;
  --darkPurp: #373142;
  --xtraPurp: #191324;
  --grey: #d8d8d8;
  --teal: #82d8d8;
  --red: #e54b4b;
  --black: #333;
  --black-20: #4f4f4f;
  --black-40: #828282;
  --black-60: #bdbdbd;
  --white-60: #e0e0e0;
  --white-40: #f2f2f2;
  --white-20: #f5f4f6;
  --white: #fff;
  --turq: #3d4ea5;
  --prim: #3ac9d6;
  --tw-gradient-from: #3ac9d6;
  --tw-gradient-to: #3d4ea5;
  --bg-black: #00000080;
}