body {
  background-image: url("../assets/background.png"); 
}

.app {
  font-family: 'Kalam', cursive;
  font-weight: bold;
  text-align: center;
  height: 100vh;
  padding: 16px 32px;
}

img {
  width: 400px;
  height: 400px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: 40px;
  position: relative;
  height: 600px;
}

.game-container {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
}

.lhs {
  z-index: 1;
}

.rhs {}

.theme-shape-test {
  clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 calc(100% - 20px), 0 20px, 20px 0);
}

.message-box--clip {
  clip-path: polygon(
    20px 0,
    calc(100%) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100%),
    0 20px,
    20px 0
  );
}

.message-box__border--clip {
  clip-path: polygon(
    20px 0,
    calc(100%) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100%),
    0 20px,
    20px 0 /*|*/,
    21px 1px,
    1px 21px,
    1px calc(100%),
    21px calc(100% - 1px),
    calc(100% - 21px) calc(100% - 1px),
    calc(100% - 1px) calc(100% - 21px),
    calc(100% - 1px) 21px,
    calc(100% - 1px) 1px,
    21px 1px
  );
}

.message-box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-black);
  max-width: 800px;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  @extend .message-box--clip;
}

.message-box--border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom right, var(--turq), var(--prim));
  @extend .message-box__border--clip;
}

.parent {  
  pointer-events: none;
  @extend .message-box--clip;
}

.child {
  pointer-events: auto;
}

.parent:hover {
  opacity: 0.5;
}  